{% extends 'base.html.twig' %}

{% block title %}Modification d'un article{% endblock %}

{% block body %}
    <article class="post">
        <header>
            <div class="title">
                <h1 class="heading">Modification d'un article</h1>
            </div>
            <div class="meta">
                <a href="{{ path('posts_manage') }}">Retourner à la liste des articles</a>
            </div>
        </header>
        <section>
            {{ include('posts/form/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
            <form method="post" action="{{ path('posts_delete', {'id': post.id}) }}"
                  onsubmit="return confirm('Etes vous sûr de vouloir supprimer ce partenaire ?');">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
                <button class="btn">Delete</button>
            </form>
        </section>
    </article>
{% endblock %}
