@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/breakpoints';
@import 'libs/html-grid';

// Breakpoints.
@include breakpoints((
        xlarge: (1281px, 1680px),
        large: (981px, 1280px),
        medium: (737px, 980px),
        small: (481px, 736px),
        xsmall: (null, 480px)
));

// Base
@import 'base/reset';
@import 'base/page';
@import 'base/typography';

// Component
@import 'components/row';
@import 'components/author';
@import 'components/box';
@import 'components/button';
@import 'components/form';
@import 'components/icon';
@import 'components/image';
@import 'components/list';
@import 'components/actions';
@import 'components/icons';
@import 'components/posts';
@import 'components/mini-post';
@import 'components/post';
@import 'components/section';
@import 'components/table';
@import 'components/notification';
@import 'components/comment';
@import 'components/iframe';

// Layout
@import 'layout/header';
@import 'layout/wrapper';
@import 'layout/main';
@import 'layout/sidebar';
@import 'layout/intro';
@import 'layout/footer';
@import 'layout/menu';