###> symfony/framework-bundle ###
/.env
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/var/
/vendor/
/bin/composer.phar
/src/Cron/
/www/assets/uploads/
/www/assets/style/.sass-cache/
/src/Migrations/
symfony.lock
.todo
.start_docker.sh
/.idea
###< symfony/framework-bundle ###