###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/public/assets/uploads/
/public/assets/style/.sass-cache
/src/Migrations/
.todo
###< symfony/framework-bundle ###