{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="g-recaptcha" data-sitekey="{{ google_recaptcha_site_key }}"></div>
    <button class="button">S'inscrire</button>
{{ form_end(form) }}