<form method="post" action="{{ path('user_reset_password') }}">
    <div class="row gtr-uniform">
        <div class="col-6 col-12-xsmall">
            <label for="inputUsername">Identifiant</label>
            <input type="text" name="username" id="inputUsername"
                   class="form-control" required autofocus/>
        </div>
        <div class="col-6 col-12-xsmall">
            <label for="inputEmail">Mail</label>
            <input type="email" name="email" id="inputEmail" class="form-control" required/>
        </div>
        <div class="col-12">
            <ul class="actions">
                <li><input type="submit" value="Valider"/></li>
            </ul>
        </div>
    </div>
</form>