<form method="post" action="{{ path('user_reset_password', {'id': id, 'key': key}) }}">
    <div class="row gtr-uniform">
        <div class="col-6 col-12-xsmall">
            <label for="inputPassword">Nouveau mot de passe</label>
            <input type="password" name="password" id="inputPassword"
                   class="form-control" required autofocus autocomplete="off" minlength="6" maxlength="4096"/>
        </div>
        <div class="col-6 col-12-xsmall">
            <label for="inputPassword2">Confirmation du nouveau mot de passe</label>
            <input type="password" name="passwordConfirm" id="inputPassword2" class="form-control" required autocomplete="off" minlength="6" maxlength="4096"/>
        </div>
        <div class="col-12">
            <ul class="actions">
                <li><input type="submit" value="Valider"/></li>
            </ul>
        </div>
    </div>
</form>