{% extends is_mobile() ? 'base_mobile.html.twig' : 'base_default.html.twig' %}

{% block title %}Le Monde Du PC - Ajouter un partenaire{% endblock %}

{% block description %}Page permettant d'ajouter un partenaire.{% endblock %}

{% block body %}
    <article class="post">
        <header>
            <div class="title">
                <h1 class="heading">Ajouter un partenaire</h1>
            </div>
            <div class="meta">
                <a href="{{ path('partner_manage') }}">Retourner à la liste des partenaires</a>
            </div>
        </header>
        <section>
            {{ include('partner/form/_form.html.twig') }}
        </section>
    </article>
{% endblock %}
