<form method="post" action="{{ path('vote_comment_delete', {'id': vote.id}) }}"
      onsubmit="return confirm('Confirmer la suppression ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vote.id) }}">
    <button class="button">Supprimer</button>
</form>