<ul class="cloud">
    {% for category in categories %}
        <li>
            <a href="{{ path('category_show', {'id': category.id,'name' : category.name|slugify}) }}">{{ category.name }}</a>
        </li>
    {% else %}
        <li>Aucune catégorie n'est disponible</li>
    {% endfor %}
</ul>
