{% extends is_mobile() ? 'base_mobile.html.twig' : 'base_default.html.twig' %}

{% block title %}Ajouter une catégorie{% endblock %}

{% block description %}Page permettant l'ajout d'une catégorie.{% endblock %}

{% block head %}<meta name="robots" content="noindex, nofollow" />{% endblock %}

{% block body %}
    <article class="post">
        <header>
            <div class="title">
                <h1 class="heading">Ajouter une catégorie</h1>
            </div>
            <div class="meta">
                <a href="{{ path('category_manage') }}">Retourner à la liste des catégories</a>
            </div>
        </header>
        <section>
            {{ include('category/form/_form.html.twig') }}
        </section>
    </article>
{% endblock %}