{% extends '/base.html.twig' %}

{% block main %}
    <article class="post">
        <header>
            <div class="title">
                <h2>A propos</h2>
            </div>
            <div class="meta">
                <time class="published">date maj</time>
            </div>
        </header>
        <section>
            <h1>Notre équipe</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At beatae dolorem dolorum eaque ex impedit
                ipsam ipsum laboriosam non odio qui, quibusdam reprehenderit similique sint sit? Dolorem illo natus
                nesciunt.
            </p>
        </section>
        <section>
            <h1>Nous contacter</h1>
            <form method="post" action="#">
                <div class="row gtr-uniform">
                    <div class="col-12">
                        <input type="text" name="name" value="" placeholder="Email"/>
                        <textarea name="name" placeholder="Entrez votre message..." rows="6"></textarea>
                    </div>
                    <div class="col-4 col-12-xsmall">
                        <input type="text" name="name" placeholder="Captcha" />
                    </div>
                    <div class="col-12">
                        <ul class="actions">
                            <li><input type="submit" value="Envoyer" name="name"/></li>
                            <li><input type="reset" value="Reset"/></li>
                        </ul>
                    </div>
                </div>
            </form>
        </section>
        <section>
            <h1>Les mentions légales</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At beatae dolorem dolorum eaque ex impedit
                ipsam ipsum laboriosam non odio qui, quibusdam reprehenderit similique sint sit? Dolorem illo natus
                nesciunt.
            </p>
        </section>
        <section>
            <h1>Les conditions générales d'utilisation</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At beatae dolorem dolorum eaque ex impedit
                ipsam ipsum laboriosam non odio qui, quibusdam reprehenderit similique sint sit? Dolorem illo natus
                nesciunt.
            </p>
        </section>
    </article>
{% endblock %}