{% for location in locations %}
    <article class="mini-post">
        <section class="content">
            <h3 class="title-min"><a
                        href="{{ path('locations_show', {'id': location.id,'name' : location.name|slugify}) }}">{{ location.name }}</a>
            </h3>
        </section>
    </article>
{% else %}
    <article class="mini-post">
        <section class="content">
            <h3 class="title-min">Aucune catégorie n'est disponible</h3>
        </section>
    </article>
{% endfor %}