{% for location in locations %}
    <article class="mini-post">
        <section class="content">
            <h3 class="title-min"><a href="{{ path('locations_show', {'id': location.id,'name' : location.name|slugify}) }}">{{ location.name }}</a></h3>
            {#<span class="info">{{ location.posts_number }}</span>#}
        </section>
    </article>
{% endfor %}