{% extends 'base.html.twig' %}

{% block title %}Edit Locations{% endblock %}

{% block body %}
    <h1>Edit Locations</h1>

    {{ include('locations/form/_form.html.twig', {'button_label': 'Update'}) }}


    {{ include('locations/form/_delete_form.html.twig') }}
{% endblock %}
