{% extends 'base.html.twig' %}

{% block title %}Locations{% endblock %}

{% block body %}
    <article class="post">
        <header>
            <div class="title">
                <h2>Catégorie : {{ location.name }}</h2>
            </div>
            <div class="meta">
                <span>nb article</span>
            </div>
        </header>
        <section>
            <div class="box alt">
                <div class="row gtr-uniform">
                    {% for post in posts %}
                        <div class="col-4">
                            <a class="image featured"
                               href="{{ path('posts_show', {'id' : post.post_id, 'slug' : post.post_title|slugify }) }}">
                                <img src="https://ressources.blogdumoderateur.com/2013/10/google-logo.png" alt=""/>
                                <span>{{ post.post_title }}</span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </article>
{% endblock %}
