{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <article class="post">
        <header>
            <div class="title">
                <h2>Connexion</h2>
            </div>
        </header>
        <section>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('users_logout') }}">Logout</a>
                </div>
            {% endif %}
            {% include('users/form/_login_form.html.twig') %}
        </section>
    </article>
{% endblock %}