{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <article class="post">
        <header>
            <div class="title">
                <h2>Inscription</h2>
            </div>
        </header>
        <section>
            {% include('users/form/_new_form.html.twig') %}
            {% if message is not null %}
                <p>{{ message }}</p>
            {% endif %}
        </section>
    </article>
{% endblock %}