{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <article class="post">
        <header>
            <div class="title">
                <h1 class="heading">
                    Comfirmation d'inscription
                </h1>
            </div>
        </header>
        <section>
            <p>{{ message }}</p>
        </section>
    </article>
{% endblock %}
