{% extends is_mobile() ? 'base_mobile.html.twig' : 'base_default.html.twig' %}

{% block title %}Le Monde Du PC - Erreur {{ status_code }}{% endblock %}

{% block description %}Page d'erreur {{ status_code }}{% endblock %}

{% block head %}<meta name="robots" content="noindex" />{% endblock %}

{% block url %}{% endblock %}

{% block body %}
    <article class="post">
        <header>
            <div class="title">
                <h1 class="heading">Erreur {{ status_code }}</h1>
            </div>
        </header>
        <section>
            <p>Accès refusé</p>
        </section>
    </article>
{% endblock %}