{% extends is_mobile() ? 'base_mobile.html.twig' : 'base_default.html.twig' %}

{% block title %}Modification du profil{% endblock %}

{% block description %}Page de modification du profil.{% endblock %}

{% block body %}
    <article class="post">
        <header>
            <div class="title">
                <h1 class="heading">Modification du profil</h1>
            </div>
        </header>
        <section>
            {{ include('user/form/_edit_form.html.twig', {'button_label': 'Mettre à jour'}) }}

            <a href="{{ path('user_show', {'id' : app.user.id}) }}">Retour au profil</a>
        </section>
    </article>
{% endblock %}
