{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <article class="post">
        <header>
            <div class="title">
                <h1 class="heading">Connexion</h1>
            </div>
        </header>
        <section>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {% include('user/form/_login_form.html.twig') %}
        </section>
    </article>
{% endblock %}