{% extends is_mobile() ? 'base_mobile.html.twig' : 'base_default.html.twig' %}

{% block title %}Le Monde Du PC - Mot de passe oublié{% endblock %}

{% block description %}Page de récupération d'un mot de passe oublié, permettant d'accéder à l'espace membre.{% endblock %}

{% block body %}
    <article class="post">
        <header>
            <div class="title">
                <h1 class="heading">Mot de passe oublié</h1>
            </div>
        </header>
        <section>
            {% if new %}
                {% include('user/form/_reset_password_new_form.html.twig') %}
            {% else %}
                {% include('user/form/_reset_password_form.html.twig') %}
            {% endif %}
        </section>
    </article>
{% endblock %}