{% extends 'email/base.mjml.twig' %}
{% block message %}
    <mj-section background-color="#0098ff">
        <mj-column width="100%">
            <mj-text color="#ffffff">
                <p>
                    Bonjour {{ user_name }}, voici les dernières news de la semaine.
                </p>
            </mj-text>
        </mj-column>
    </mj-section>
{% endblock %}