{% extends 'email/base.mjml.twig' %}
{% block message %}
    <mj-section background-color="#0098ff">
        <mj-column width="100%">
            <mj-text color="#ffffff">
                <h2>
                    Validez votre inscription
                </h2>
            </mj-text>
            <mj-text color="#ffffff">
                <p>
                    Bonjour {{ user_name }}, il reste une dernière étape avant de pouvoir vous connecter: veuillez activer votre
                    compte en cliquant sur le bouton ci-dessous.
                </p>
            </mj-text>
            <mj-button background-color="#e85034" color="#ffffff" href="{{ path('user_validate', {'id': user_id, 'confirmKey': confirm_key}) }}">
                Confirmation
            </mj-button>
        </mj-column>
    </mj-section>
{% endblock %}